<fs-examples [config]="config">
  <fs-example name="Content Widgets" componentName="app-content-widgets">
    <app-content-widgets></app-content-widgets>
  </fs-example>
  
  <fs-example name="Content Widget" componentName="app-content-widget">
    <app-content-widget></app-content-widget>
  </fs-example>
  
  <fs-example name="Content Widget with Container" componentName="app-content-widget-container">
    <app-content-widget-container></app-content-widget-container>
  </fs-example>
  
  <fs-example name="Content Widget Dialog" componentName="app-content-widget-dialog">
    <app-content-widget-dialog></app-content-widget-dialog>
  </fs-example>
</fs-examples>
