
<form fsForm [submit]="save">
  <fs-dialog>
    <div mat-dialog-title>
      Content Widget
      <div class="subtitle">{{contentWidget.name}}</div>
    </div>
    <mat-dialog-content>
      <mat-tab-group>
        <mat-tab label="HTML">
          <ng-template matTabContent>
            <fs-text-editor
              [(ngModel)]="contentWidget.content"
              [config]="{ language: 'html', tabSize: 2 }"
              name="html">
            </fs-text-editor>
          </ng-template>
        </mat-tab>
        <mat-tab label="Rich Text">
          <ng-template matTabContent>
            <fs-html-editor
              [(ngModel)]="contentWidget.content"
              [config]="htmlEditorConfig"
              name="content">
            </fs-html-editor>
          </ng-template>
        </mat-tab>
        <mat-tab label="Styles">
          <ng-template matTabContent>
            <fs-text-editor
              [(ngModel)]="contentWidget.styles"
              [config]="{ language: 'scss', tabSize: 2 }"
              name="styles">
            </fs-text-editor>
          </ng-template>
        </mat-tab>
        <mat-tab label="Settings">
          <mat-form-field>
            <input
              matInput
              placeholder="Name"
              [(ngModel)]="contentWidget.name"
              name="name"
              [required]="true">
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
          mat-button
          color="primary">
        Save
      </button>
      <button
          mat-button
          [mat-dialog-close]="null"
          type="button">
        Cancel
      </button>
    </mat-dialog-actions>
  </fs-dialog>
</form>
