
<form fsForm [submit]="save">
  <fs-dialog>
    <div mat-dialog-title>
      Content Widget
      <div class="subtitle">{{contentWidget.name}}</div>
    </div>
    <mat-dialog-content>
      <mat-tab-group>
        <mat-tab label="HTML">
          <ng-template matTabContent>
            <fs-text-editor
              [(ngModel)]="contentWidget.content"
              [config]="{ language: 'html', tabSize: 2, wordWrap: 'on' }"
              name="html">
            </fs-text-editor>
          </ng-template>
        </mat-tab>
        @if (contentWidget.variables?.length) {
          <mat-tab label="Variables">
            <div class="variables">
              @for (variable of contentWidget.variables; track variable.name) {
                <code>{{ variable.token }}</code>
                <div>
                  <div>{{ variable.label }}</div>
                  @if (variable.description) {
                    <div class="variable-description">{{ variable.description }}</div>
                  }
                </div>
              }
            </div>
          </mat-tab>
        }
        <mat-tab label="Styles">
          <ng-template matTabContent>
            <fs-text-editor
              [(ngModel)]="contentWidget.styles"
              [config]="{ language: 'scss', tabSize: 2, wordWrap: 'on' }"
              name="styles">
            </fs-text-editor>
          </ng-template>
        </mat-tab>
        <mat-tab label="Settings">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              matInput
              [(ngModel)]="contentWidget.name"
              name="name"
              [required]="true">
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
          mat-button
          color="primary">
        Save
      </button>
      <button
          mat-button
          [mat-dialog-close]="null"
          type="button">
        Cancel
      </button>
    </mat-dialog-actions>
  </fs-dialog>
</form>
